body {
	background: orange;
	font-family: arial;
}

img {
	width: 300px;
}

#leftcol {
	background: green;
}

#rightcol {
	background: blue;
}

.round {
	border-radius: 40px;
}

.shadow {
	box-shadow: 10px 10px 10px 10px yellow;
}